@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headings {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
/*header*/
/*****************************/
/******************************/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.trybutton {
  color: hsl(322, 100%, 66%);
  padding-inline: 20px;
  padding-block: 5px;
  border-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
}
.trybutton a {
  color: hsl(322, 100%, 66%);
}
.trybutton:hover {
  scale: 1.1;
}
/******* main **********/
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 100px;
  padding-inline: 20px;
  gap: 25px;
}

.started-button {
  padding-inline: 25px;
  padding-block: 8px;
  background-color: hsl(322, 100%, 66%);
  color: aliceblue;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}
.started-button:hover {
  scale: 1.1;
}
/************* mockup img ******************/

.mockup-container {
  width: 100%;
  padding: 20px;
}
.mockup-img {
  width: 100%;
}

/*************    sociales        *****************/

.info-social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.social-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-social {
  height: 15px;
  width: auto;
}

/********************  cards **********************/

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 35px;
  gap: 10px;
  text-align: center;
}

.card-img {
  width: 75%;
}

/**********  footer    *************/

.footer {
  background-color: hsl(192, 100%, 9%);
  color: aliceblue;
  width: 100%;
  padding: 20px;
}
.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.p-news {
  font-size: 10px;
  text-align: left;
}
.footer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: end;
  gap: 5px;
}
.suscribe-button {
  background-color: hsl(322, 100%, 66%);
  color: aliceblue;
  font-weight: bold;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 8px;
  align-items: end;
}
.suscribe-button:hover {
  background-color: hsl(322, 100%, 56%);
}
.suscribe-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}
.footer-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65%;
  font-size: x-large;
}
.img-footer {
  height: 24px;
  width: auto;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-block: 30px;
}
.footer-contacts-card {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}
.footer-redes {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 30px;
}
.fa-brands {
  color: aliceblue;
}
.fa-brands:hover {
  color: hsl(322, 100%, 66%);
  scale: 1.1;
}
.footer-contacts-card a {
  text-decoration: none;
  color: aliceblue;
}

/***************** mediaqueries ******************/
@media screen and (min-width: 1439px) {
  .banner {
    max-width: 65%;
    margin: auto;
  }
  .mockup-container {
    width: 70%;
    margin: auto;
  }
  .card-head {
    font-size: 60px;
  }
  .social-cards {
    width: 60%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card {
    justify-content: space-around;
  }
  .card-rev {
    flex-direction: row-reverse;
  }
  .card-row {
    flex-direction: row;
  }
  .card-img {
    width: 40%;
  }
  .card-text {
    text-align: left;
    width: 30%;
  }
  .started-button {
    padding-inline: 80px;
    padding-block: 20px;
    border-radius: 30px;
  }
  .footer-xl {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .f-card {
    width: 40%;
    padding: 30px;
  }
  .footer-form {
    flex-direction: row;
  }
}

@media screen and (max-width: 376px) {
  .logo-container {
    width: 40%;
    height: auto;
  }
  .logo {
    width: 100%;
  }
  .social-cards {
    width: 50%;
  }
}
